*{
    margin: 0px;
}

/* Header */
header{
    margin: 0;
    padding: 0;
}

.heading{
    text-align: center;
}
.background{
    width: 100vw;
    
}
.hname{
    font-family: Cinzel,"sans-serif";
}

/* Gallery */
div.gallery {
    border: 1px solid #ccc;
    
  }
  
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  

  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    display: inline-block;
    width: 23%;
  }
/* Icons */
  .fa-brands{
    padding: 20px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    margin: 5px 2px;
  }
  .fa-youtube{
    background: #bb0000;
    color: white;
  }
  .fa-instagram{
    background: #125688;
  color: white;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  /* Copyright */
  footer{
    background-color: lightblue;
    
    
  }
  .copyright{
    text-align: center;
    
  }
  